html{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url('../img/change-password-imagge.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#image-change{
    height: 150px;
    width: 150px;
}

#content-div{
    background-color: rgba(0, 0, 0, 0.555);
    height: 25em;
    width: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    border-color: #2a2e34;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#change-password-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.change-text{
    color: white;
    background-color: #2a2e34;
    border-radius: 8px;
    border-color: transparent;
    width: 20em;
    height: 1.15em;
    margin: 0.50rem;
    text-align: center;
    
}



.change-text::placeholder{
    text-align: center;
    color: #e4e1dc;
}

#button-container{
    margin: 1rem;
}
.buttons{
    background-color: #2a2e34;
    color: #e4e1dc;
    margin-bottom: 1em;
    width: 5rem;
    height: 2.5rem;
    border-radius: 8px;
    border-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    font-weight: bolder;
    cursor: pointer;
}

.buttons:active{
    background: #1d2024;       
    transform: translateY(1px); 
    box-shadow: inset 0 3px 6px rgba(0,0,0,.35);
    
}

#error-message{
    color: red;
    text-align: center;
    margin: 0.50rem;
}